Testar att använda mig av 'mode' för att hitta most common value i de kategoriska tabellerna, för att se om det är bästa sättet att gå. 

- Mode = det mest frekventa värdet i ett dataset (det som förekommer flest gånger)
- Kan vara bra för kategoriska kolumner, där man inte kan räkna ut medelvärde eller median.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from taxipred.utils.constants import TAXI_CSV_PATH


df = pd.read_csv(TAXI_CSV_PATH)

#Skriver ut de 5 första raderna i datasetet
df.head()

C:\Users\susan\KodPython\LAB_taxi_pred\src\taxipred\data\taxi_trip_pricing.csv

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [5]:
df_cleaned = df.copy()

most_common_time = df_cleaned["Time_of_Day"].mode()[0]
print(most_common_time)

Afternoon

In [10]:
df.groupby("Time_of_Day")["Trip_Price"].describe()

,count,mean,std,min,25%,50%,75%,max
Time_of_Day,,,,,,,,
Afternoon,351.0,57.958716,43.432813,6.4729,33.3478,51.0300,69.73675,329.913004
Evening,197.0,56.404504,37.507576,8.6709,35.0028,48.4496,69.19380,296.088697
Morning,265.0,55.949429,37.786101,6.1269,33.3599,50.7312,68.37480,325.098950
Night,89.0,56.304401,39.712048,12.5567,35.8539,51.2721,67.73600,332.043689

In [6]:
most_common_day = df_cleaned["Day_of_Week"].mode()[0]
print(most_common_day)

Weekday

In [24]:
df["Day_of_Week"].value_counts()

Day_of_Week
Weekday    655
Weekend    295
Name: count, dtype: int64

In [11]:
df.groupby("Day_of_Week")["Trip_Price"].describe()

,count,mean,std,min,25%,50%,75%,max
Day_of_Week,,,,,,,,
Weekday,622.0,58.012418,43.436509,6.4729,34.260475,51.0126,69.30130,332.043689
Weekend,283.0,55.001961,35.550441,6.1269,33.833300,47.4882,68.98315,322.725996

In [8]:
most_common_traffic_condition = df_cleaned["Traffic_Conditions"].mode()[0]
print(most_common_traffic_condition)

Low

In [12]:
df.groupby("Traffic_Conditions")["Trip_Price"].describe()

,count,mean,std,min,25%,50%,75%,max
Traffic_Conditions,,,,,,,,
High,172.0,65.059510,57.714761,9.8718,32.37305,55.13875,74.708975,332.043689
Low,374.0,55.597238,36.185159,6.1269,33.90040,48.39620,67.974850,296.088697
Medium,355.0,54.547422,35.389681,6.4729,34.39065,48.81080,65.938900,329.913004

In [9]:
most_common_weather = df_cleaned["Weather"].mode()[0]
print(most_common_weather) 

most_common_weather

Clear

In [13]:
df.groupby("Weather")["Trip_Price"].describe()

,count,mean,std,min,25%,50%,75%,max
Weather,,,,,,,,
Clear,634.0,55.809128,39.275815,6.1269,33.377700,48.61490,68.843825,332.043689
Rain,216.0,59.769260,46.268546,9.8005,34.138025,52.68775,69.780725,329.913004
Snow,55.0,57.815842,34.458712,8.9203,41.707000,50.07450,66.011800,233.008285

In [25]:
df["Weather"].value_counts()

Weather
Clear    667
Rain     227
Snow      56
Name: count, dtype: int64